<header class="header">
  <div class="logo">PB</div>

  <nav class="nav">
    <!-- <a routerLink="/">Home</a> -->
    <a (click)="navigate('/')"  routerLink="/">Home</a>
    <a (click)="navigate('/beauty')"  routerLink="/beauty">Beauty</a>
    <a (click)="navigate('/fashion')"  routerLink="/fashion">Fashion</a>
    <!-- <a routerLink="/celebrities">Celebrities</a>
    <a routerLink="/advertising">Advertising</a>
    <a routerLink="/jewellery">Jewellery</a>
    <a routerLink="/editorial">Editorial</a> -->
    <a (click)="navigate('/contact')"  routerLink="/contact">Contact</a>
    <a (click)="navigate('/about')"  routerLink="/about">About</a>
  </nav>
   <div class="contact">+91-8395993889</div>
</header>
